.cproject
.project
.pydevproject
.sconsign.dblite
.cspro
.bytes

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
Release/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/Packages/
/Unity/ios/Libraries/
/Unity/ios/Data/
/Unity/ios/Data/Resources/
/Unity/Assets/Bundles/Independent/
/Unity/Assets/Bundles/Code/
/Unity/ProjectSettings/
/Unity/Assets/Res/XAsset/
/Unity/AndroidTarget
/Unity/Assets/Res/XAsset
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/Unity/Assets/StreamingAssets/
/netcoreapp2.0
/Unity/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity/.gradle
/*.user
Unity2/
/ToolsApp/
/WeiJing_1_BanHaoTest/GameDemo/Library
/WeiJing_1_BanHaoTest/GameDemo/Temp
/WeiJing_1_BanHaoTest/GameDemo/Logs
/WeiJing_1_BanHaoTest/GameDemo/Assets/UnityVS
/WeiJing_1_BanHaoTest/GameDemo/Assets/Plugins
/Unity/HybridCLRData/
/Unity/Assets/Res/XAsset/Rules.asset
/Unity/Assets/Bundles/Independent
/Unity/Assets/Bundles/Code/Code.dll.bytes
/Unity/Assets/Bundles/Code/Code.dll.bytes.meta
/Unity/Assets/Bundles/Code/Code.pdb.bytes
/Unity/Assets/Bundles/Code/Code.pdb.bytes.meta
/Unity/Assembly-CSharp.csproj
/Unity/Packages/packages-lock.json
/Excel/~$*.xlsx
/.vscode
SampleClass.cs
Unity/UnityProject.zip
Unity/Android
start_publish_binbeta.bat
WeiJing_1_BanHaoTest/GameDemo/危境怀旧版.APK
WeiJing_1_BanHaoTest/GameDemo/Purchasing.Common.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.2D.Sprite.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.2D.Sprite.Package.EditorTests.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.2D.Tilemap.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.2D.Tilemap.Package.EditorTests.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.Analytics.DataPrivacy.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.Analytics.DataPrivacy.Tests.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.Analytics.StandardEvents.EditorTests.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.CollabProxy.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.CollabProxy.EditorTests.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.PlasticSCM.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.PlasticSCM.EditorTests.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.Rider.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.Services.Core.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.TextMeshPro.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.TextMeshPro.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.TextMeshPro.Editor.Tests.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.TextMeshPro.Tests.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.Timeline.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.Timeline.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.VisualStudio.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/Unity.VSCode.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEditor.Purchasing.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEditor.SpatialTracking.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEditor.TestRunner.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEditor.UI.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEditor.UI.EditorTests.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEditor.XR.LegacyInputHelpers.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEditor.XR.LegacyInputHelpers.Tests.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Advertisements.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Advertisements.DevX.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Advertisements.Editor.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Advertisements.Editor.Tests.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Advertisements.Tests.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Monetization.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Monetization.Editor.Tests.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Purchasing.AppleCore.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Purchasing.AppleMacosStub.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Purchasing.AppleStub.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Purchasing.Codeless.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Purchasing.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Purchasing.SecurityCore.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Purchasing.SecurityStub.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Purchasing.Stores.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Purchasing.WinRTCore.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.Purchasing.WinRTStub.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.SpatialTracking.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.SpatialTracking.Tests.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.TestRunner.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.UI.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.UI.Tests.csproj
WeiJing_1_BanHaoTest/GameDemo/UnityEngine.XR.LegacyInputHelpers.csproj
